@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-sans;
  }
}

@layer utilities {
  @keyframes draw {
    0% {
      stroke-dashoffset: 4500;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  .animate-draw {
    animation: draw 8s ease;
  }
}

/* Style for Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
  border-radius: 10px; /* Optional: Round the corners of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Optional: Round the corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when the thumb is hovered */
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling when navigating to an anchor */
}

.home {
  clip-path: polygon( 64.082% 3.375%,64.082% 3.375%,64.056% 2.827%,63.981% 2.308%,63.86% 1.824%,63.699% 1.382%,63.5% 0.988%,63.268% 0.651%,63.008% 0.377%,62.722% 0.172%,62.417% 0.044%,62.094% 0%,3.579% 0%,3.579% 0%,3.041% 0.074%,2.531% 0.287%,2.056% 0.628%,1.622% 1.085%,1.236% 1.647%,0.904% 2.303%,0.635% 3.04%,0.434% 3.847%,0.308% 4.712%,0.265% 5.624%,0.265% 81.215%,0.265% 81.215%,0.291% 81.762%,0.366% 82.281%,0.487% 82.766%,0.649% 83.208%,0.847% 83.601%,1.079% 83.938%,1.34% 84.213%,1.625% 84.417%,1.931% 84.545%,2.253% 84.589%,28.959% 84.589%,28.959% 84.589%,29.281% 84.634%,29.587% 84.761%,29.872% 84.966%,30.133% 85.241%,30.364% 85.578%,30.563% 85.971%,30.725% 86.413%,30.845% 86.897%,30.921% 87.417%,30.947% 87.964%,30.947% 95.726%,30.947% 95.726%,30.973% 96.273%,31.048% 96.792%,31.169% 97.276%,31.33% 97.719%,31.529% 98.112%,31.761% 98.449%,32.021% 98.723%,32.306% 98.928%,32.612% 99.056%,32.935% 99.1%,96.421% 99.1%,96.421% 99.1%,96.959% 99.026%,97.469% 98.813%,97.944% 98.472%,98.378% 98.015%,98.764% 97.453%,99.096% 96.797%,99.365% 96.06%,99.566% 95.254%,99.692% 94.388%,99.735% 93.476%,99.735% 15.523%,99.735% 15.523%,99.709% 14.976%,99.634% 14.456%,99.513% 13.972%,99.351% 13.53%,99.153% 13.137%,98.921% 12.8%,98.661% 12.525%,98.375% 12.321%,98.069% 12.193%,97.747% 12.148%,66.07% 12.148%,66.07% 12.148%,65.748% 12.104%,65.442% 11.976%,65.157% 11.772%,64.896% 11.497%,64.664% 11.16%,64.466% 10.767%,64.304% 10.325%,64.184% 9.841%,64.108% 9.321%,64.082% 8.774%,64.082% 3.375% );
}

.Mhome {
  clip-path: polygon( 81.333% 2.532%,81.333% 2.532%,81.264% 2.121%,81.061% 1.731%,80.738% 1.368%,80.304% 1.036%,79.771% 0.742%,79.15% 0.488%,78.451% 0.283%,77.686% 0.129%,76.865% 0.033%,76% 0%,14.4% 0%,14.4% 0%,12.237% 0.083%,10.186% 0.323%,8.273% 0.706%,6.526% 1.221%,4.972% 1.854%,3.639% 2.591%,2.555% 3.421%,1.746% 4.329%,1.241% 5.302%,1.067% 6.329%,1.067% 84.615%,1.067% 84.615%,1.136% 85.026%,1.339% 85.416%,1.662% 85.779%,2.096% 86.11%,2.629% 86.405%,3.25% 86.659%,3.949% 86.864%,4.714% 87.018%,5.535% 87.114%,6.4% 87.147%,54.453% 87.147%,54.453% 87.147%,55.318% 87.18%,56.139% 87.276%,56.904% 87.43%,57.603% 87.635%,58.225% 87.888%,58.758% 88.183%,59.191% 88.515%,59.515% 88.878%,59.717% 89.268%,59.787% 89.679%,59.787% 96.359%,59.787% 96.359%,59.856% 96.77%,60.059% 97.16%,60.382% 97.523%,60.816% 97.855%,61.349% 98.15%,61.97% 98.403%,62.669% 98.609%,63.434% 98.762%,64.255% 98.858%,65.12% 98.891%,85.6% 98.891%,85.6% 98.891%,87.763% 98.808%,89.814% 98.568%,91.727% 98.185%,93.474% 97.67%,95.028% 97.037%,96.361% 96.3%,97.445% 95.471%,98.254% 94.563%,98.759% 93.589%,98.933% 92.562%,98.933% 11.646%,98.933% 11.646%,98.864% 11.235%,98.661% 10.845%,98.338% 10.482%,97.904% 10.15%,97.371% 9.855%,96.75% 9.602%,96.051% 9.397%,95.286% 9.243%,94.465% 9.147%,93.6% 9.114%,86.667% 9.114%,86.667% 9.114%,85.802% 9.081%,84.981% 8.985%,84.216% 8.831%,83.517% 8.625%,82.895% 8.372%,82.362% 8.077%,81.929% 7.746%,81.605% 7.382%,81.403% 6.993%,81.333% 6.582%,81.333% 2.532% );
}

/* Add custom before styles */
.element::before {
  content: "";
  background-color: transparent;
  height: 2.5rem; /* Adjust as needed */
  width: 2.5rem; /* Adjust as needed */
  position: absolute;
  top: 0;
  margin-left:-52px;
  border-radius: 0 1.5rem 0 0;
  box-shadow: 10px -10px 0 0 #1E1E1E;
}

.element2::before {
  content: "";
  background-color: transparent;
  height: 2.5rem; /* Adjust as needed */
  width: 2.5rem; /* Adjust as needed */
  position: absolute;
  top: 67.5px;
  right: 0;
  border-radius: 0 1.5rem 0 0;
  box-shadow: 10px -10px 0 0 #1E1E1E;
}

.element3::before {
  content: "";
  background-color: white;
  height: 2.5rem; /* Adjust as needed */
  width: 2.5rem; /* Adjust as needed */
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: -40px;
  border-radius: 0 0 0 1.5rem;
  box-shadow: -10px 10px 0 0 #1E1E1E;
}

.element4::before {
  content: "";
  background-color: white;
  height: 2.5rem; /* Adjust as needed */
  width: 2.5rem; /* Adjust as needed */
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -40px;
  border-radius: 0 0 0 1.5rem;
  box-shadow: -10px 10px 0 0 #1E1E1E;
}

.element5::before {
  content: "";
  background-color: white;
  height: 2.5rem; /* Adjust as needed */
  width: 2.5rem; /* Adjust as needed */
  position: absolute;
  top: 0;
  margin-left:-104px;
  border-radius: 0 1.5rem 0 0;
  box-shadow: 12px -12px 0 0 #1E1E1E;
}

.element6::before {
  content: "";
  background-color: white;
  height: 2.5rem; /* Adjust as needed */
  width: 2.5rem; /* Adjust as needed */
  position: absolute;
  top: 63px;
  right: 0;
  border-radius: 0 1.5rem 0 0;
  box-shadow: 10px -10px 0 0 #1E1E1E;
}

.element7::before {
  content: "";
  background-color: white;
  height: 2.5rem; /* Adjust as needed */
  width: 2.5rem; /* Adjust as needed */
  position: absolute;
  top: 0;
  margin-left:-52px;
  border-radius: 0 1.5rem 0 0;
  box-shadow: 10px -10px 0 0 #1E1E1E;
}

.element8::before {
  content: "";
  background-color: transparent;
  height: 2.5rem; /* Adjust as needed */
  width: 1.5rem; /* Adjust as needed */
  position: absolute;
  bottom: 0;
  margin-bottom: -38px;
  right: 0;
  border-radius: 0 1rem 0 0;
  box-shadow: 10px -10px 0 0 #1E1E1E;
}

.element9::before {
  content: "";
  background-color: transparent;
  height: 2.5rem; /* Adjust as needed */
  width: 2.5rem; /* Adjust as needed */
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -12px;
  margin-left: -52px;
  border-radius: 0 1.5rem 0 0;
  box-shadow: 10px -10px 0 0 #1E1E1E;
}

.element10::before {
  content: "";
  background-color: white;
  height: 2.5rem; /* Adjust as needed */
  width: 2.5rem; /* Adjust as needed */
  position: absolute;
  top: 64px;
  right: 0;
  border-radius: 0 1.5rem 0 0;
  box-shadow: 10px -10px 0 0 #1E1E1E;
}

.element11::before {
  content: "";
  background-color: transparent;
  height: 2.5rem; /* Adjust as needed */
  width: 2.5rem; /* Adjust as needed */
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -40px;
  border-radius: 0 1.5rem 0 0;
  box-shadow: 10px -10px 0 0 #1E1E1E;
}

.element12::before {
  content: "";
  background-color: white;
  height: 2.5rem; /* Adjust as needed */
  width: 2.5rem; /* Adjust as needed */
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -40px;
  border-radius: 1.5rem 0 0 0;
  box-shadow: -10px -10px 0 0 #1E1E1E;
}

.element13::before {
  content: "";
  background-color: white; /* Adjust as needed */
  height: 2.5rem; /* Adjust as needed */
  width: 2.5rem; /* Adjust as needed */
  position: absolute;
  top: 64px; /* Adjust position */
  left: 0;
  border-radius: 1.5rem 0 0 0;
  box-shadow: -10px -10px 0 0 #1E1E1E; /* Adjust shadow */
}

.element14::before {
  content: "";
  background-color: white; /* Adjust as needed */
  height: 1rem; /* Adjust as needed */
  width: 1rem; /* Adjust as needed */
  position: absolute;
  top: 0; /* Adjust position */
  right: 0;
  margin-top: -16px;
  border-radius: 0 0 10px 0;
  box-shadow: 5px 5px 0 0 #1E1E1E; /* Adjust shadow */
}

.element15::before {
  content: "";
  background-color: white; /* Adjust as needed */
  height: 1rem; /* Adjust as needed */
  width: 1rem; /* Adjust as needed */
  position: absolute;
  bottom: 0; /* Adjust position */
  right: 0;
  margin-bottom: -16px;
  border-radius: 0 10px 0 0;
  box-shadow: 5px -5px 0 0 #1E1E1E; /* Adjust shadow */
}

.element16::before {
  content: "";
  background-color: white; /* Adjust as needed */
  height: 2rem; /* Adjust as needed */
  width: 2rem; /* Adjust as needed */
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -31.5px;
  border-radius: 1.5rem 0 0 0;
  box-shadow: -8px -8px 0 0 #1E1E1E; /* Adjust shadow */
}

.element17::before {
  content: "";
  background-color: white; /* Adjust as needed */
  height: 2rem; /* Adjust as needed */
  width: 2rem; /* Adjust as needed */
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -31.5px;
  border-radius: 0 1.5rem 0 0;
  box-shadow: 8px -8px 0 0 #1E1E1E; /* Adjust shadow */
}

.menu {
  box-shadow: 8px -8px 0 0 #1E1E1E; /* Adjust shadow */
}